/* 
reset
 */
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
general
 */
 html{
   font-family: "Montserrat", sans-serif;
   scroll-behavior: smooth;
 }


body{
   color: white;
}

img{
   max-width: 100%;
}

.my-btn{
   color: white;
   background-color: #080B12;
   border: 1px solid white;
   padding: 15px 70px;
   border-radius: 50px;
   opacity: 1;
   margin-right: 10px;
   font-size: 1.2rem;
   cursor: pointer;
}


  /* Custom properties ( oppure variabili) */
 :root {
   --height-spotify-bottom: 100px ;
   --widht-sidebar: 200px ;
   --color-spotify-center: #141922;
 }



 h4{
   font-size: 1.2rem;
 }

 h5{
   font-size: 1rem;
   opacity: 0.5;
 }

 /************************************************
    UTILITIES
 ************************************************/
 .row{
   display: flex;
   flex-wrap: wrap;
   margin-left: -10px;
   margin-right: -10px;
}  

.col{
   width: calc((100% / 6 ) - 20px );
   height: calc(100vw / 6);
   background-color: var(--color-spotify-center);
   margin: 0 10px;
   margin-bottom: 150px;
   margin-top: 50px;
   text-align: center;

}

/* SPOTIFY-CENTER*/
.circle-img{
   border-radius: 50%;
}
.spotify-top{
   display: flex;
   height: calc( 100vh - var(--height-spotify-bottom) );
 
}
.sidebar{
   background-color: #000000;
   width:var(--widht-sidebar)
}

.spotify-center{
   background-color: #141922;
   width: calc(100% - 200px );
   overflow-y: auto;
}

.spotify-top header{
   color: white;
   height: 100px;
   position: sticky;
   top: 0;
   background-color: #080B12;
   opacity: 0.8;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.spotify-center > *{
   margin-bottom: 20px;
}

nav ul li a{
   text-decoration: none;
   color: white;
   opacity: 0.7;
   font-size: 1.3rem;
   padding: 0 10px;
}
nav{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

nav ul  li hr{
   border-color:#B4FF30 ;
   margin-top: 10px;
   width: 60px;
   margin-left: 50px;
}
nav ul {
   list-style: none ;
   display: flex;
   flex-wrap: wrap;
}
    
nav ul li {
   padding: 10px;
   vertical-align: middle;

}

main{
   padding: 20px;
}
main > *{
   padding-bottom: 20px;
}
.card img{
   width: 100%;
   padding-bottom: 20px;
}

.card div  > *{
   padding-bottom: 20px;
}

/* SPOTIFY-BOTTOM*/

.spotify-bottom{
   background-color: #272727;
   height: var(--height-spotify-bottom);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
}

.spotify-bottom-left{
  display: flex;
  align-items: center;
  width: 30%;
}

.spotify-bottom-left img{
   max-width: 50px;
   filter:grayscale(1) ;
}

.spotify-bottom-left > *{
   margin-right: 7px;
}
.spotify-bottom-left p , .spotify-bottom-left i{
   opacity: 0.7;
}

.spotify-bottom-left span{
   margin-right: 20px;
}

.spotify-bottom-left i , .spotify-bottom-center i , .spotify-bottom-right i {
   margin: 0 5px;
}
.spotify-bottom-center{
   width: 30%;
   justify-content: center;
   align-items: center;
}

.spotify-bottom-center > *{
   padding-bottom: 10px;
}
.flex{
   display: flex;
   justify-content: center;
   align-items: center;
}

.barra{
   width: 140%;
   background-color:#5B5B5B ;
   border-radius: 20px;
   height: 5px;
   margin: 0 20px;
}

.barra div {
   width: 20%;
   height: 5px;
   background-color: white;
   border-radius: 20px;
}
 .spotify-bottom-right{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

.spotify-bottom-right{
   width: 30%;
   justify-content: flex-end;

}

.small{
   width: 30%;
}


 /************************************************
    RESPONSIVE
 ************************************************/
/* DESKTOP FIRST  */

 /* Primo step */

 @media screen and  ( max-width: 1100px ){
   .col{
      width: calc(25% - 20px );
      margin-bottom: 170px;
   }
   }

 /* Secondo Step */
 @media screen and  ( max-width: 700px ){
      .col{
         width: calc(50% - 20px );
      }
   }

    /* Terzo Step  */
 @media screen and  ( max-width: 600px ){
   :root {
      --widht-sidebar: 50px ;
    }
    .spotify-center{
      width: calc(100% - 50px );
   }
   .col{
      margin-bottom: 270px;
   }
 }

