 /************************************************
    RESET
 ************************************************/
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 /************************************************
      GENERAL
 ************************************************/
 html{
   font-family: "Montserrat", sans-serif;
   scroll-behavior: smooth;
 }


body{
   color: white;
}

img{
   max-width: 100%;
}


main{
   padding: 20px;
 }

 .margin-bottom{
   margin-bottom: -100px;
}

.opacity{
   opacity: var(--opacity);
}
 /************************************************
     Custom properties ( oppure variabili)
 ************************************************/
 :root {
   --height-spotify-bottom: 100px ;
   --widht-sidebar: 200px ;
   --color-spotify-center: #141922;
   --color-sidebar :#000000;
   --color-hr: #B4FF30 ;
   --opacity:0.5;
 }

 /************************************************
    UTILITIES
 ************************************************/
 .row{
   display: flex;
   flex-wrap: wrap;
   margin-left: -10px;
   margin-right: -10px;
}  

.col{
   width: calc((100% / 6 ) - 20px );
   height: calc(100vw / 6);
   background-color: var(--color-spotify-center);
   margin: 0 10px;
   margin-bottom: 150px;
   margin-top: 20px;
   text-align: center;
   position: relative;
}

 /************************************************
     HOVER 
 ************************************************/
.hover-img{
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate( -50%, -50%);
   display: none;
}

.card:hover .hover-img{
   display: block;
}

 /************************************************
     SIDEBAR
 ************************************************/
.sidebar {
   display: flex;
   flex-direction: column;
   background-color: var(--color-sidebar);
   width:var(--widht-sidebar);
   padding-left: 20px;
   position: relative;
}

 /************************************************
    TOP SIDEBAR
 ************************************************/
  .top-sidebar nav  button:hover {
      color: white;
   }

   .sidebar .top-sidebar ul, .sidebar .center-sidebar ul{
      list-style: none ;
   }

  .top-sidebar nav ul li button {
      background-color: var(--color-sidebar);
      border: none;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: grey;
   }

   .text-white{
      color: white;
   }


   .top-sidebar nav ul li button > *{
      padding-right: 5px;
      padding-bottom: 10px;
   }
   .top-sidebar nav ul li button img{
      width: 20%;
   }
   
   #hr-column{
      display: flex;
   }

   #hr-column hr{
      position: absolute;
      left: 0;
      top: 90px;
      border: 2px  solid  var(--color-hr) ;
      border-radius: 10px;
      height: 45px;
   }
   
   #logo{
      padding: 20px 0;
      width: 170px;
      cursor: pointer;
   }
   
   #logo-small{
      display: none;
     
   }
   .top-sidebar{
      margin-bottom: 20px ;
   }

/************************************************
    CENTER SIDEBAR
************************************************/
   .center-sidebar{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: auto;
   }

   .center-sidebar > * :hover , .box-grey :hover {
      opacity: 1;
      color: white;
   }
   
   .center-sidebar > *{
      margin-bottom: 10px;
   }

   #box-grey{
      background-color: #A3A3A3;
      width: 40px;
      height: 40px;
      font-size: 2rem;
      font-weight: bold;
      border: none;
      cursor: pointer;
   }

   .center-sidebar nav ul li a{
      text-decoration: none;
      color:white;
      opacity: var(--opacity);
      margin: 20px 0 ;
   }
   .center-sidebar nav ul li {
      margin-bottom: 15px;
   }

   .center-sidebar nav {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: auto;
   }
/************************************************
      BOTTOM  SIDEBAR
 ************************************************/
   .bottom-sidebar{
      margin-bottom: 10px;
      min-height: 100px;
   
   }
   .bottom-sidebar div button img{
      width: 15%;
      margin-left: -5px;
   }

   .bottom-sidebar hr{
      width: 160px;
      margin: 20px 0 ;
   }
   .align-element {
      display: flex;
      align-items: center; 
      justify-content: flex-start;
      cursor: pointer;
   }
   .align-element img{
      width: 15%;
   }
   
   .align-element  > *{
      margin-right: 10px;
   }

   .bottom-sidebar  > * :hover{
      opacity: 1;
   }

   #John-Doe{
      width: 30px;
      height: 30px;
      background-color:#808080;
      border-radius: 50%;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   #John-Doe img{
      width:70% ;
   }
 /************************************************
   SPOTIFY TOP
 ************************************************/
 .spotify-top{
   display: flex;
   height: calc( 100vh - var(--height-spotify-bottom) );
 
}

/************************************************
   SPOTIFY CENTER
 ************************************************/

main h2{
   margin-bottom: 20px;
 }

main .row .col .card div h4{
   font-size: 1.2rem;
   margin-bottom: 10px;
 }

 main .row .col .card div h5{
   font-size: 1rem;
   opacity: var(--opacity);
 }

.circle-img{
   border-radius: 50%;
}

.spotify-center{
   background-color: #141922;
   width: calc(100% - 200px );
   overflow-y: auto;
}

.spotify-center header{
   color: white;
   height: 100px;
   position: sticky;
   top: 0;
   background-color: #080B12;
   opacity: 0.8;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.my-btn{
   color: white;
   background-color: #080B12;
   border: 1px solid white;
   padding: 15px 70px;
   border-radius: 50px;
   margin-right: 20px;
   font-size: 1.2rem;
   cursor: pointer;
}

.my-btn:hover{
   transform: scale(1.1);
   transition-duration: 1s;
}

.spotify-center nav ul li a{
   text-decoration: none;
   color: white;
   opacity: var(--opacity);
   padding: 0 10px;
}

.spotify-center nav > * :hover{
   opacity: 1;
}

.spotify-center nav{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.spotify-center nav ul  li hr{
   border-color:var(--color-hr);
   margin-top: 10px;
   width: 60px;
   margin-left: 50px;
}

.spotify-center nav ul {
   list-style: none ;
   display: flex;
   flex-wrap: wrap;
}
    
.spotify-center nav ul li {
   padding: 10px;
   vertical-align: middle;
}

.card img{
   width: 100%;
   padding-bottom: 20px;
}
 /************************************************
    SPOTIFY BOTTOM
 ************************************************/

.spotify-bottom{
   background-color: #272727;
   height: var(--height-spotify-bottom);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   position: relative;
   z-index: 1;
}

.spotify-bottom-left{
  display: flex;
  align-items: center;
  width: 30%;
}

.spotify-bottom-left img{
   max-width: 50px;
   filter:grayscale(1) ;
}

.spotify-bottom-left > *{
   margin-right: 7px;
}

.spotify-bottom-left p , .spotify-bottom-left i{
   opacity: var(--opacity);
}

.spotify-bottom-left span{
   margin-right: 20px;
}

.spotify-bottom-left i , .spotify-bottom-center i , .spotify-bottom-right i {
   margin: 0 5px;
}
.spotify-bottom-center{
   width: 30%;
   justify-content: center;
   align-items: center;
}

.spotify-bottom-center > *{
   padding-bottom: 10px;
}
.flex{
   display: flex;
   justify-content: center;
   align-items: center;
}

.barra{
   width: 140%;
   background-color:#5B5B5B ;
   border-radius: 20px;
   height: 5px;
   margin: 0 20px;
}

.barra div {
   width: 20%;
   height: 5px;
   background-color: white;
   border-radius: 20px;
}
 .spotify-bottom-right{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

.spotify-bottom-right{
   width: 30%;
   justify-content: flex-end;

}

.small{
   width: 30%;
}


 /************************************************
    RESPONSIVE
 ************************************************/
/* DESKTOP FIRST  */

 /* Primo step */

 @media screen and  ( max-width: 1100px ){
   .col{
      width: calc(25% - 20px );
      margin-bottom: 250px;
   }
   .margin-bottom{
      margin-top: -100px ;
   }
   }

 /* Secondo Step */
 @media screen and  ( max-width: 700px ){
      .col{
         width: calc(50% - 20px );
      }
      .col{
         margin-bottom: 240px;
      }
      .margin-bottom{
         margin-bottom: -60px ;
         margin-top: -40px;
      }
   }

    /* Terzo Step  */
 @media screen and  ( max-width: 600px ){
   :root {
      --widht-sidebar: 50px ;
    }
    .spotify-center{
      width: calc(100% - 50px );
   }
   .col{
      margin-bottom: 280px;
   }
   .margin-bottom{
      margin-bottom: -40px ;
   }
   #logo{
     display: none;
   }
   #logo-small{
      display: block;
      width: 80%;
      cursor: pointer;
   }

   .top-sidebar nav ul li button :last-child{
      display: none;
   }
   .top-sidebar nav ul li button img{
      width: 100%;
   }
   .sidebar{
      padding: 10px;
   }
   #hr-column hr{
      display: none ;
   }
   #logo-small{
      margin-bottom: 20px;
   }
   .bottom-sidebar hr{
     display: none;
   }
   .center-sidebar *{
      display: none;
   }

   .bottom-sidebar .align-element :last-child {
      display: none;
   }
   .align-element img{
      width: 100%;
   }
 
 } 

